<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/AppCoder/static/AppCoder/css/style.css">

    <title>Level HTML Template by Tooplate</title>
<body>
    <header>
        <a href="{% url 'inicio' %}" class="logo">
            <img src="../../static/AppCoder/img/cursosonlinelogo.jpg" alt="">
            <h2 class="nombre-empresa">Cursos Online</h2>
        </a>
        <nav style="display: flex; align-items: center;gap: 8px;flex-wrap: wrap">
            <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
            <a class="nav-link" href="{% url 'ListaCursos' %}">Cursos</a>
            <a class="nav-link" href="{% url 'inscripcion' %}"
            >Inscripcion</a>
           
           <a class="nav-link" href=
            "{% url 'ListaProfesores' %}">Profesores</a>
            {% if not request.user.is_authenticated %}
           <div><a id="Logueo" class="btn btn-primary" href=
            "{% url 'Login' %}">Login</a>
            <a id="Logueo" class="btn btn-primary" href=
            "{% url 'Registro' %}">Registro</a>
            {% else %}
            <a id="Logueo" class="nav-link" href="{% url 'EditarPerfil' %}"> {{request.user.username}} </a>
            <form class="nav-link" method="post" action="{% url 'Logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Logout</button>
            </form>
            {% endif %}
            {% if request.user.avatar %}
            <img src="{{request.user.avatar.imagen.url}}" alt="" height="40px">
            {% endif %}
            </div>
        </nav>
    </header>
    {% block contenidoQueCambia %}



    {% endblock contenidoQueCambia %}
</body>
   