<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/AppCoder/static/AppCoder/css/style.css">
    <script src="https://kit.fontawesome.com/f5a82dd20e.js" crossorigin="anonymous"></script>
    <title>CursosOnline</title>
    <link rel="shortcut icon" href="/AppCoder/static/AppCoder/img/cursosonlinelogo.png">
<body>
    <header>
        <a href="{% url 'inicio' %}" class="logo">
            <img src="/AppCoder/static/AppCoder/img/cursosonlinelogo.png" alt="">
            <h2 class="nombre-empresa">Cursos Online</h2>
        </a>
        <nav style="display: flex; align-items: center;gap: 8px;flex-wrap: wrap">
            <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
            <a class="nav-link" href="{% url 'ListaCursos' %}">Cursos</a>
            <a class="nav-link" href="{% url 'inscripcion' %}"
            >Inscripcion</a>
           
           <a class="nav-link" href=
            "{% url 'ListaProfesores' %}">Profesores</a>
            {% if not request.user.is_authenticated %}
           <div><a id="Logueo" class="btn btn-primary" href=
            "{% url 'Login' %}">Login</a>
            <a id="Logueo" class="btn btn-primary" href=
            "{% url 'Registro' %}">Registro</a>
            {% else %}
            <a id="Logueo" class="nav-link" href="{% url 'EditarPerfil' %}"> {{request.user.username}} </a>
            <form class="nav-link" method="post" action="{% url 'Logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Logout</button>
            </form>
            {% endif %}
            {% if request.user.avatar %}
            <img src="{{request.user.avatar.imagen.url}}" alt="" height="40px">
            {% endif %}
            </div>
        </nav>
    </header>

    {% block contenidoQueCambia %}



    {% endblock contenidoQueCambia %}
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="/AppCoder/static/AppCoder/img/cursosonlinelogo.png" alt="">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE MI</h2>
                <p>Soy Nicolás Machado, programador especializado en Python, HTML y CSS. Con experiencia en desarrollo web y análisis de datos, me apasiona crear soluciones innovadoras y centradas en el usuario.

                </p>
                <button><a href="{% url 'sobremi' %}">Mas sobre mi</a></button>
            </div>
            <div class="box">
                <h2>SEGUIME</h2>
                <div class="red-social">
                    <a href="https://es-la.facebook.com/nicolas.machado.543908" class="fa fa-facebook" target="_blank"></a>
                    <a href="https://www.instagram.com/nico_machado05?igsh=MXJ3azJwcXVxamJoeA==" class="fa fa-instagram" target="_blank"></a>
                    <a href="www.linkedin.com/in/nicolas-machado-09b89b23b" class="fa fa-linkedin" target="_blank"></a>
                    
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>
                &copy; 2024 <b>Cursos Online</b> - Todos los Derechos Reservados.
            </small>
        </div>
    </footer>
</body>
   