{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}



<div class="relleno">

    <div class="relleno-curso">
            <h1>Listado de Profesores</h1>
     
            {% for profesor in profesores %}
                <li>Nombre: {{profesor.nombre}}
                    <p>
                        <a href="{% url 'DetalleProfesor' profesor.pk %}">Ver</a>
                        
                        {% if request.user.is_authenticated and request.user.is_superuser %}
                            <a href="{% url 'EditarProfesor' profesor.pk %}">Editar</a>
                            <a href="{% url 'BorrarProfesor' profesor.pk %}">Borrar</a>
                        {% endif %}
                    </p>
                </li>
            {% endfor %}
            {% if request.user.is_authenticated and request.user.is_superuser %}
            <button><a href="{% url 'NuevoProfesor' %}">Nuevo Profesor</a></button>
        {% endif %}


    </div>
    

</div>


{% endblock contenidoQueCambia %}