{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<h1>¡Bienvenido a mi Mundo Tecnológico!</h1>

<h6>¡Hola! Soy Nicolás Machado, y me complace darte la bienvenida a mi espacio digital, donde la pasión por la programación se fusiona con la creatividad en el diseño web. Con una sólida experiencia en el fascinante universo de Python, así como en las tecnologías fundamentales como HTML y CSS, me sumerjo diariamente en el emocionante desafío de dar vida a ideas a través del código.</h6>

<p>A lo largo de mi carrera, he cultivado habilidades que abarcan desde el desarrollo de software, con un enfoque particular en Python, hasta la creación de interfaces web atractivas y funcionales utilizando HTML y CSS. Cada proyecto es una oportunidad para explorar nuevas posibilidades y superar desafíos técnicos, siempre con la misión de ofrecer soluciones que no solo funcionen bien, sino que también ofrezcan una experiencia de usuario excepcional.

    Este rincón digital es más que un simple portafolio. Es un lugar donde comparto mi viaje, desde proyectos destacados hasta descubrimientos tecnológicos y reflexiones sobre las últimas tendencias en el desarrollo web. Aquí encontrarás artículos, tutoriales y, por supuesto, un vistazo a los proyectos en los que estoy trabajando actualmente.
    
    Te invito a explorar, aprender y compartir en este espacio interactivo. ¡Sigue conectado para estar al tanto de las últimas actualizaciones y ser parte de esta emocionante travesía tecnológica!
    
    ¡Gracias por visitar y disfrutar de este rincón digital!</p>

{% endblock contenidoQueCambia %}