@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
a{
    text-decoration: none;
    color: white;
}

header{
    display:flex ;
    min-height: 70px;
    background-color: #0a141d;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.relleno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 600px;
    gap: 10px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}
p{
    display: flex;
    font-size: x-large;
}
.relleno button{
    width: 200px;
}
.relleno .relleno-curso{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
   
    padding: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;

    border: 3px solid #0d2033;
    border-radius: 20px;
    background-color: #0099ff;
}
.relleno .relleno-curso form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.relleno .relleno-curso form a{
    padding: 2rem;
}
.relleno .relleno-curso li p{
    display: flex;

    align-items: center;
    justify-content:center;
    padding: auto;
    gap: 1rem;
   

}
.box-superior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width: 100%;
   height: 400px;
   background-color: #0099ff;
}
.box-superior h1{
    font-size: 44px;
}
button{
    padding: 7px;
    border-radius: 30px;
    background-color: #0d2033;
    border: 3px solid  white;
    color: white;
    
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}
nav{
    display: flex;
    flex-direction: row;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: aqua;
}
form{
   display: flex;
}

#Logueo{
    color: rgb(174, 174, 226);
}

/* Agrega estos estilos a tu archivo de estilos CSS */

.rating {
    display: flex;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url('../img/estrella_vacia.png');
    background-size: cover;
}

.rating input:checked ~ label {
    background-image: url('../img/estrella_llena.png');
}

@media (max-width:700px){
    header{
        flex-direction:column ;
    }

    nav{
        padding: 10px 0px;
    }
}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;

}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;

}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){

    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    
    }

}